@font-face {
  font-family: Helvetica;
  src: url(Helvetica.ttf);
}

body {
    font-family: Helvetica;
    background: #000000;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    margin: 0;
    pointer-events: pointer;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    position: fixed;
}

.button {
    color: #505050;
    text-shadow: 
    -2px -2px 0 #000,  /* top-left */
     2px -2px 0 #000,  /* top-right */
    -2px  2px 0 #000,  /* bottom-left */
     2px  2px 0 #000;  /* bottom-right */
     letter-spacing: 1px;
     transition: color 1s;
     
}

.button:hover {
    cursor: pointer;
    animation: glimmer 1s infinite;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 2vh;

}

.menu{
    display: flex;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 2vh;
    filter:blur(1px);
}

.select{
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    transform: translate(50%, -50%);
}

.clock{
    padding: 2%;
    font-size: 5vh;
    font-weight: bold;
    filter:blur(1.25px);
}

#intro{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;
    z-index: 1;
}

#shade{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    z-index: 3;
}

.fade {
    animation: fade 11s;
}
.logofade {
    animation: logofade 11s;
}

#logo {
    position: absolute;
    visibility: hidden;
    z-index: 2;
    filter:blur(1.5px);
    font-size: 3vh;
    text-shadow: 
    -3px -3px 0 #000000,  /* top-left */
     3px -3px 0 #000000,  /* top-right */
    -3px  3px 0 #000000,  /* bottom-left */
     3px  3px 0 #000000;  /* bottom-right */
}

#loading {
    position: absolute;
    filter:blur(0.8px);
    font-size: 3vh;
    background-color: black;
}
#loading img{
    padding: 5vh;
    animation: spinny 2s linear infinite;
}

#reminder{
    position: fixed;
    transform: scale(0.8);
    bottom: 0;
    left: 0;
    color:rgb(90, 90, 90);
}

@keyframes fade {
    0% {
        visibility: visible;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    15%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes logofade {
    0% {
        visibility: visible;
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    45%{
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spinny {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes glimmer{
    0%{
        color: #38d1f9;
    }
    50%{
        color: #84e6ff;
    }
    100%{
        color: #38d1f9;
    }
}